sudo: false
language: cpp
os: linux
dist: trusty
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
      - llvm-toolchain-trusty-6.0
    packages:
      - wget
      - lib32stdc++6
      - lib32z1-dev
      - libc6-dev-i386
      - linux-libc-dev
      - g++-multilib
      - clang-6.0
cache:
  directories:
    - mysql-5.5
    - mysql-5.5-x86_64
before_install:
  - echo -e "machine bitbucket.org\n  login $uM5cnxYPCJ9QK5YbHSFd_1\n  password $uM5cnxYPCJ9QK5YbHSFd_2\n\nmachine api.bitbucket.org\n  login $uM5cnxYPCJ9QK5YbHSFd_1\n  password $uM5cnxYPCJ9QK5YbHSFd_2" >~/.netrc
  - python -m pip install pip==9.0.3 requests urllib3 pyOpenSSL --force --upgrade --user
  - $uM5cnxYPCJ9QK5YbHSFd_3
  - ./sourcemod/tools/checkout-deps.sh
  - cd sourcemod
script:
  - python -u ../sm.beforebuild/beforebuild.py && python -u ../sm.beforebuild/buildbot/bootstrap.py && python -u ../sm.beforebuild/buildbot/startbuild.py && python -u ../sm.beforebuild/buildbot/package.py
